#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 3rem;
}
.Card div{
  display: grid;
  grid-template-columns: 100px auto;
}
.Card label{
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-top: .7rem;
  max-width: 30px;
}
.Card .inputText{
  padding: 0.5rem;
  border-radius: 5px;
  min-width: 200px;
  margin-left: 1rem;
  justify-self: end;
  margin-bottom: 1rem;
}
.p-password-input{
  min-width: 200px;
  margin-left: -.5rem;
}
.Tweet div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.Tweet label{
  margin: 1rem 0;
}
.Tweet{
  margin-bottom: 2rem;
}
.tweet-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
